@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Nunito:wght@300&display=swap');
 * {
     padding: 0;
     margin: 0;
     border: none;
 }
body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #696969;
}

h1, h2 {
    font-family: Dela Gothic One, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #32cd32;
}

#logo {
    text-align: center;
    font-size: 250%;
}

header a {
    text-decoration: none;
}

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    float: left;
}

#menu li {
    list-style-type: none;
    margin: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #ffa500;
}

.active {
    border-bottom: 1px solid #696969;
}